@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

*, ::before, ::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: white;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 18px;
}

.container {
    min-height: 100vh;
    display: flex;
}

.card-container, .form-container {
    width: 100%;
}

.card-container {
    background: url(images/bg-main-desktop.png) no-repeat left / auto 100%;
}

.card {
    height: 100%;
    color: white;
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    align-items: center;
    padding-inline: 5vw;
    position: relative;
}

.card__front, .card__back {
    background: url(images/bg-card-front.png) no-repeat center / cover;
    border-radius: .5rem;
    padding: 1.5rem;
    width: 80%;
    max-width: 450px;
    height: 160px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.2);
}

.card__front__info {
    display: flex;
    flex-flow: column;
}

.card__front__info .number {
    letter-spacing: 2px;
    margin-block: 1rem;
}

.card__front__info .number input {
    text-align: center;
}

.card__front__info .data {
    display: flex;
    justify-content: space-between;
    letter-spacing: 1px;
}

.card__front__info .data__name {
    text-transform: uppercase;
}

.card__front__info .data__date input {
    max-width: 1.5em;
    display: inline-block;
}

.card__back {
    background: url(images/bg-card-back.png) no-repeat center / cover;
    position: relative;
}

.card__back .cvc {
    position: absolute;
    top: 50%;
    right: 17%;
    transform: translate(50%, -50%);
}

.card__back .cvc input {
    max-width: 3em;
}

.form-container {
    margin-block: 5rem 3rem;
    padding-inline: 1rem;
}

form, .status {
    display: flex;
    flex-flow: column;
    justify-content: center;
    max-width: 400px;
    margin: 0 auto;
}

form label {
    text-transform: uppercase;
    display: block;
    margin-bottom: .5rem;
    font-size: small;
    letter-spacing: 1px;
    font-weight: 600;
}

input {
    appearance: none;
    background: transparent;
    border: 0;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    text-transform: inherit;
    letter-spacing: inherit;
    width: 100%;
}

::placeholder {
    color: inherit;
}

input:invalid {
    border-color: hsl(0, 100%, 66%);
}

input:focus-visible {
    outline: 0;
    border-color: transparent;
    background: 
    linear-gradient(white, white) padding-box,
    linear-gradient(to right, hsl(249, 99%, 64%), hsl(278, 94%, 30%)) border-box;
}

form .error {
    color: hsl(0, 100%, 66%);
    font-size: 13px;
    margin-top: .5rem;
    display: none;
}

input:invalid + .error {
    display: block;
}

form input {
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: .5rem;
    border-radius: .5rem;
    width: 100%;
}

form input::placeholder {
    opacity: .2;
}

.form__row, .form__rows {
    margin-bottom: 1.5rem;
} 

.form__rows {
    display: flex;
}

.form__column {
    width: 48%;
}

.form__column:last-child {
    margin-left: auto;
}

.form__column .date {
    display: flex;
}

.form__column .date input:last-child {
    margin-left: .5rem;
}

button {
    appearance: none;
    background: transparent;
    border: 0;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    letter-spacing: inherit;
    color: inherit;
    cursor: pointer;
}

button.btn {
    padding: 1rem;
    border-radius: .5rem;
    background-color: hsl(278, 68%, 11%);
    color: white;
    margin-top: .3rem;
}

.status {
    align-items: center;
}

.status figure {
    animation: show .5s;
}

.status svg {
    overflow: visible;
}

.status svg circle {
    stroke: #6348FE;
    stroke-width: 4;
    stroke-dasharray: 400%;
    animation: 1s cubic-bezier(0.77, 0, 0.175, 1) 0s 1 both drawCircle, 0.3s linear 0.9s 1 both;
}

.status svg path {
    stroke: #fff;
    stroke-dasharray: 36px 36px;
    animation: 1.2s cubic-bezier(0.77, 0, 0.175, 1) 0s 1 both drawCheck, 0.3s linear 0.9s 1 both;
}

@keyframes drawCircle {
    0% {
      stroke-dashoffset: 400%;
    }
    80% {
      stroke-dashoffset: 0;      
    }
    
    100% {
        stroke-width: 0;
        fill: url(#a);
    }
  }

@keyframes drawCheck {
    0% {
      stroke-dashoffset: 36px;
    }
    100% {
      stroke-dashoffset: 0;
    }
  }

@keyframes show {
    from {
        opacity: 0;
        transform: scale(1.5);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes showup {
    0% {
        height: 0;
        opacity: 0;
    }

    50% {
        height: 198px;
    }

    100% {
        opacity: 1;
    }
}

.status .thanks {
    width: 100%;
    display: none;
    animation: showup 1s;
}

.status h1 {
    margin-block: 2rem;
    text-align: center;
    letter-spacing: 2px;
}

.status h1 span {
    display: block;
    color: rgb(156, 156, 156);
    font-size: 18px;
    letter-spacing: normal;
    margin-top: 1rem;
}

.status .btn {
    width: 100%;
}

@media only screen and (min-width: 768px) {
    .card {
        justify-content: center;
    }

    .card-container, .form-container {
        width: 50%;
    }

    .card__front, .card__back {
        margin-block: 1.2rem;
        padding: 2rem;
        width: 80%;
        min-width: 350px;
        height: 200px;
    }

    .card__front figure {
        margin-bottom: 1rem;
    }

    .card__front__info .number {
        font-size: 22px;
    }

    .card .data {
        font-size: 16px;
    }

    form label {
        letter-spacing: 2px;
    }

    .form__column {
        width: 47%;
    }

    .form__row, .form__rows {
        margin-bottom: 2rem;
    }

    form, .status {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }
}

@media only screen and (min-width: 900px) {

    .card__front figure {
        margin-bottom: 3rem;
    }

    .card__front, .card__back {
        min-width: 400px;
        height: 250px;
    }

    .card__front {
        margin-right: 5vw;
    }

    .card .data {
        font-size: 18px;
    }

    .card .number {
        font-size: 26px;
    }

    .card__back {
        margin-left: 10vw;
    }
}

@media only screen and (min-width: 1300px) {
    .card .number {
        font-size: 31px;
    }
}

@media only screen and (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .card-container {
        height: 40%;
        background: url(images/bg-main-mobile.png) no-repeat center / cover;
    }

    .card {
        min-height: 235px;
    }

    .card, .form-container {
        max-width: 500px;
        margin-inline: auto;
    }

    .card__front {
        z-index: 1;
        margin-bottom: -3rem;
        align-self: flex-start;
    }

    .card__front img {
        width: 60px;
    }

    .card__back {
        position: absolute;
        top: 2rem;
        font-size: 12px;
    }

    .form-container {
        height: 60%;
        padding-inline: 8vw;
    }

    .card .number {
        font-size: 18px;
    }

    .card .data {
        font-size: 12px;
    }

    .status {
        margin-top: 1rem;
    }

}

@media only screen and (max-width: 330px) {
    .card__front, .card__back {
        width: 87%;
    }

    .card .number {
        font-size: 15px;
    }

    .form-container {
        padding-inline: 6vw;
    }
}